

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title"> Recipes
      </h1>
      <br> {{!-- Object received from the get/code { ingredientArr:[ { amount: measure: name: }] stepArr:[ // this is full of
      strings in order. ], name://string for the recipe name. originalUser: // int for the users array } --}}

      <ul>
        {{#each recipes}}
        <br>

        <i class="fas fa-utensils"></i>
        <div class="block" class="content" is-large>
          <p>
            {{name}};
          </p>
        </div>


        <p> Ingredients</p>
        {{#each ingredientArr}}
        <p>
          {{amount}} {{measure}} {{name}};
        </p>
        {{/each}}
        <br>
        <p>Steps......</p>
        {{#each stepArr}}
        <p>{{this}}</p>
        {{/each}} {{/each}}
      </ul>

    </div>
  </div>
</section>